body {
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    margin: 0;
    margin-top: 5px;
}

.container {
    display: flex;
    margin: 0;
    height: auto;
}

.grid {
    min-width: 300px;
    height: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: auto;
}

.grid div {
    width: 7rem;
    height: 7rem;
    background-color: #445f51;
    margin: auto;
}

#firstField,
#secondField,
#thirdField {
    border: 2px solid white;
}

#fourthField,
#fifthField,
#sixthField,
#seventhField,
#eighthField,
#ninthField {
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

#button {
    background-color: #998066;
    border-radius: 30px;
    padding: 20px;
    cursor: pointer;
}

#button:hover {
    background-color: #996666;
}

.markO {
    font-size: 80px;
    color: #998066;
}

.markX {
    font-size: 80px;
    color: #996666;
}